<launch>
  <node name="mqtt_ros_bridge_node" pkg="mqtt_ros_bridge" type="mqtt_ros_bridge_node" output="screen">
    <!-- MQTT服务器配置 -->
    <param name="host" value="mqtts://de80ed56.ala.cn-hangzhou.emqxsl.cn" />
    <param name="port" value="8883" />
    <param name="username" value="px_uav" />
    <param name="password" value="123456" />
    <param name="ca_cert_path" value="/home/px/UAV_SDK/mqtt_bridge/config/emqxsl-ca.crt" />
    
    <!-- 消息签名密钥（可选） -->
    <param name="signature_secret" value="" />
    
    <!-- 订阅的MQTT主题列表 -->
    <rosparam param="subscribe_topics">
      - "uav/control/command"
      - "uav/mission"
    </rosparam>
  </node>
</launch>
    