<launch>
    <!-- MQTT-ROS桥接节点 -->
    <node name="mqtt_ros_bridge" pkg="mqtt_bridge" type="mqtt_bridge_node" output="screen">
        <!-- MQTT服务器配置 -->
        <param name="mqtt/server_uri" value="mqtts://de80ed56.ala.cn-hangzhou.emqxsl.cn" />
        <param name="mqtt/client_id" value="uav_mqtt_bridge" />
        <param name="mqtt/ca_path" value="/home/px/UAV_SDK/src/mqtt_bridge/config/emqxsl-ca.crt" />
        <param name="mqtt/username" value="px_uav" />
        <param name="mqtt/password" value="123456" />
        <param name="mqtt/port" value="8883" />
        <param name="mqtt/reconnect_interval" value="5000" /> <!-- 重连间隔(毫秒) -->
        
        <!-- 主题映射配置 -->
        <!-- MQTT订阅主题 -> ROS发布主题 -->
        <param name="topics/mqtt_subscribe" value="uav/sensor/data" />
        <param name="topics/ros_publish" value="mqtt/sensor_data" />
        
        <!-- ROS订阅主题 -> MQTT发布主题 -->
        <param name="topics/ros_subscribe" value="ros/control_command" />
        <param name="topics/mqtt_publish" value="uav/control/command" />
    </node>
</launch>
