<launch>
    <!-- MQTT-ROS桥接节点 -->
    <arg name="uav_id" default="1"/>
    <node name="mqtt_ros_bridge" pkg="mqtt_bridge" type="mqtt_bridge_node" output="screen">
        <!-- UAV ID -->
        <param name="uav_id" value="$(arg uav_id)"/>
        <!-- MQTT服务器配置 -->
        <param name="mqtt/server_uri" value="mqtts://de80ed56.ala.cn-hangzhou.emqxsl.cn" />
        <param name="mqtt/client_id" value="uav1_mqtt_bridge111" />
        <param name="mqtt/ca_path" value="$(find mqtt_bridge)/config/emqxsl-ca.crt" />
        
        <param name="mqtt/username" value="px_uav" />
        <param name="mqtt/password" value="123456" />
        <param name="mqtt/port" value="8883" />
        <param name="mqtt/reconnect_interval" value="5000" /> <!-- 重连间隔(毫秒) -->
        
        <!-- 主题映射配置 -->
        <!-- MQTT订阅主题 -> ROS发布主题 -->
        <param name="topics/mqtt_subscribe" value="uav$(arg uav_id)/mqtt/uavcontrol/command" />
        <param name="topics/ros_publish" value="uav$(arg uav_id)/ros/state" />
        
        <!-- ROS订阅主题 -> MQTT发布主题 -->
        <param name="topics/ros_subscribe" value="uav$(arg uav_id)/ros/uavcontrol/command" />
        <param name="topics/mqtt_publish" value="uav$(arg uav_id)/mqtt/state" />
    </node>
</launch>