<launch>
    <arg name="enable_px4_params_load" default="true"/>
    <arg name="reboot_px4_set_reset_ekf" default="false"/>
    
    <node pkg="uav_control" type="uav_control_node" name="uav_control_node" output="screen">
        <param name="enable_px4_params_load" value="$(arg enable_px4_params_load)"/>
        <param name="reboot_px4_set_reset_ekf" value="$(arg reboot_px4_set_reset_ekf)"/>
        <param file="$(find uav_control)/config/px4_params.yaml"/>
    </node>
</launch>
